h1, h3 {
    margin: auto;
    font-family: 'Merriweather', Georgia, serif;
    text-align:center;
    position: relative;
}

body {
  background: #4CA1FF;
  color: #fff;
  float: center;
  text-align: left;
  position: relative;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
    color: #A14CFF;
}

aside a:link, aside a:visited, aside a:active {
    color: #6D28FF;
}

aside a:focus, aside a:hover {
    text-decoration: none;
    color: #333;
    background: #fafa7f;
}
